<% provide(:title, "About") %>
<h1>MOVIE RECOMMENDATION ENGINE WITH AN ULTIMATE ACCURACY IN A SOCIAL NETWORK</h1>
<p>
Problem
<br><br><br>
Movie recommendation systems mainly use personel history on movies. When this kind of system represent a movie to a user, it may do couple of things:
<br><br><br>
It scans other movies that user watched and make a genre/director/year based similar movie list.<br>
It scans the movie history of the similar users to that one and find the unwatched movies by the original user.<br>
It recommends movies based on a genre or movie specifically.<br>
It recommends movies just for that individual moment based on your mood choices.
<br><br><br>
This kind of recommendation mostly works for the blockbuster movies, trilogies, thriller movies, chickflicks etc. Because movies are resemble each other, storytelling is not changed much over the years and of course Hero’s Journey*. But people changed, quantity of the movies are growing (apprx: 500.000 feature-length movies), crowds of people trying to find different elements in movies and antipopularism is a constant thing now. Sometimes similar movies can be too much in numbers so he/she try to find a movie to watch just from a different big set. Tastes in movies are more specific now and a recommendation engine should be very specific too.  
<br><br><br>
There are some very powerful recommendation engines but they are still not powerful enough because they recommend movies with a general idea. “Give to the user ten movies that user may like, at least two of them will be perfect” This idea is great but the system should provide more accurate movies user will love.
<br><br><br>
Solution
<br><br><br>
We need more information about users and detailed remarks from the users about the movies they watched. System should have character sheet about every user which includes personal information, watching patterns, behavioral patterns and environmental information. System should act like a human; it has to be ultimate critic about the movies with lots of predictions and prejudgements. These things will come from the users and their reviews about the system. System will constantly add itself rights and wrongs about the crowds of people. It also should know the people individually based on their character sheet; like old movie enthusiast, blockbuster watcher etc. and it will make judgements aggressively or passively about the recommendations.
<br><br><br>
First I thought about asking to users for more information about the movies they watched. Instead of voting a movie title, they could vote every department of the film making process like: general, director, script, editing, casting, generic conventions, photography, poster etc. But it is too much to ask and even if I get these votes, they can be useless, because they will provide information mostly about the movie not the user. Ofcourse this information could be useful, but I need more. So I asked “What particular qualities, elements makes a film great?” Answer is different for everybody and I used this difference. A movie can be great because the watcher thinks it was fast, other watcher thinks there was too much comedy, another thinks it was too confusing and another get bored because the characters were talking too much. I decided to use all these elements and tags to specify the watchers favourite movie types. 
</p>