<% provide(:title, "update movie") %>
<% provide(:button_text, 'UPDATE MOVIE') %>
<div class="row">
    <div class="col-md-6 col-md-offset-3 ms_section_form">
        <%= render 'form' %>
    </div>
</div>
