<footer class="footer">
  <small>
    <a href="http://www.moviesmoker.com/">MOVIESMOKER</a>
    by <a href="http://www.guneseser.com/">Güneş Eser</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><a href="http://bilgisayamiyorum.com/">Bilgi Sayamiyorum</a></li>
    </ul>
  </nav>
</footer>